<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gr8Art</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- Refer to app.js for most of body of this page -->
     <script src="/scripts/app.js" defer></script> 

</head>
    <body>
        <%- include('../partials/_navbar.ejs') %> 
                    
            <h4>Warning: 16x16 pixel grid not reccomended for phones</h4>
            
            <div id="toolbar">
                <button id="grid-toggle" onclick="gridToggle()">Display grid on/off</button>
                
                <div id="grid-size-panel" class="phone-hidden">     
                    <span>New grid: </span><button id="grid-size" onclick="gridSize()">Grid size 8x8</button>
                </div>

                <p>Current color: <span style="background-color: black;" id="selected-color">■■</span></p>
            </div>

            

            <div id="edit-container">
                <div class="flex-container">
                    <% if(art.colorArray.length > 64) {%>
                        <%art.colorArray.forEach(color => { %>
                            <div class="flex-item f256" style="background-color:<%=color %>"> </div>
                        <%}); %>
                    <%} else {%>
                        <%art.colorArray.forEach(color => { %>
                            <div class="flex-item" style="background-color:<%=color %>"> </div>
                        <%}); %>
                    <% } %>   
                </div>
            
                <div class="palette phone-hidden">
                    <div class="head"> Color: </div>
                </div>
            
            </div>
            
            <div id="toolbar">
                <div>
                    <label for="color-select">Select your color:</label>
                    <select name="color" id="color-select">
                    </select>    
                </div>    <!-- <option value="black">Black</option>
                    for everything in app.js colors -->
                
                    <button id="fill" onclick="fill()">Fill with color</button>
            </div>

            <form action="/arts/<%= art.id %>?_method=PUT" method="POST" id="art-form">
                
                <label for="title">Title:</label>
                <input type="text" name="title" id="title" value="<%= art.title %>">
                
                <br>
                
                <label for="description">Description:</label>
                <br>
                <textarea name="description" id="description"><%= art.description %></textarea>

                <input type="hidden" id="colorArray" name="colorArray">

                <br>

                <button type="submit">Edit art!</button>
            </form>
    </body>      
</html>