<!-- views/applications/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Look upon these works!</title>
</head>

 
<body>
  
  <%- include('../partials/_navbar.ejs') %>

  <h1>I love your work!</h1>
  <div id="gallery-view">
    
    <% arts.forEach(art => { %>
     
        <div id="gallery-card">
          <a href="/arts/<%= art._id %>">
            <div class="display-container">
              <%art.colorArray.forEach(color => { %>
                <div class="flex-item" style="background-color:<%=color %>"> </div>
              <%}); %>
            </div> 
            
            <div id="title-card">
                <%= art.title %>    
                by <%= art.owner.username %>           
            </div>
          </a> 
        </div>   
    <% }); %>
  
  </div>    
  <a href="/arts/new">Make more art!</a>
</body>
</html>
