<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gr8Art</title>
    <link rel="icon" type="image/x-icon" href="/screenshots/favicon.ico">

    <link rel="stylesheet" href="/stylesheets/style.css" />
   
<body>
    
    <%- include('../partials/_navbar.ejs') %> 
    <!-- <%= typeof JSON.stringify(art._id) %> -->
    <h1>Title: <%= art.title %></h1>

        <div class="flex-container">
            <% if(art.colorArray.length > 64) {%>
                <%art.colorArray.forEach(color => { %>
                    <div class="f256" style="background-color:<%=color %>"> </div>
                <%}); %>
            <%} else {%>
                <%art.colorArray.forEach(color => { %>
                    <div class="flex-item" style="background-color:<%=color %>"> </div>
                <%}); %>
            <% } %>   
        </div>

    <h3>Description: <%= art.description %></h3>
    <!-- placeholder for comment section -->
     
    <div class="comment-view">
        <p>Comments:</p>
        <% art.comments.forEach(comment => { %>
            <div class="comment-card"><%= comment.owner.username %> -  <%= comment.body %></div>
        <%}) %>
    </div>


    <% if(match){ %>
        <div class="match">
            <p>You made this!</p>
            <a href="/arts/<%= art._id %>/edit">Edit this work</a>
            <form action="/arts/<%= art._id %>?_method=DELETE" method="POST"> 
            <button type="submit">Delete this work 😢</button> 
            </form>
        </div>
    <% } %>
 
    <form action="/comments/arts/<%=art._id%>/comments" method="POST" id="art-form">
                
        <label for="body">Leave a comment!</label>
        <textarea name="body" id="body"></textarea>

        <button type="submit" class="submit-button">Send!</button>
    </form>

</body>